.cardapio h1 {
  font-size: 1.8rem;
}

.categorias {
  margin-top: 3rem;
}

.categorias>p {
  color: var(--texto-2)
}

.listaCategorias {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  overflow: auto;
}

.listaCategorias li+li {
  margin-left: .5rem;
}

.listaCategorias button {
  text-transform: capitalize;
  padding: .5rem .8rem;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: .2s;
}

.listaCategorias button:hover {
  border: 1px solid var(--borda)
}

.listaCategorias button.btnAtivo {
  border-color: var(--texto-2);
}

.listaCardapio {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.itemCardapio {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 130px;
  border: 1px solid var(--borda);
  border-radius: .2rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  transition: .2s;
  cursor: pointer;
  background: var(--bg);
}

.itemCardapio:hover {
  border-color: var(--texto-1);
}

.itemCardapio img {
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 1rem 1.2rem;
}

.info .nome {
  font-weight: bold;
  margin-bottom: .5rem;
}

.descricao {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: .9rem;
}

.preco {
  font-weight: bold;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .listaCategorias button {
    border: 1px solid var(--borda)
  }

  .listaCategorias {
    padding-bottom: 1rem;
  }
}