.carrinho {
  position: absolute;
  background: var(--bg);
  border-radius: .2rem;
  border: 1px solid var(--borda);
  right: 0;
  top: calc(100% + 1rem);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  visibility: hidden;
  transition: .3s;
  transform: translate3d(1rem, 0, 0);
  opacity: 0;
  min-width: 370px;
}

.carrinho.shown {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--borda);
  width: 100%;
}

.header button {
  color: var(--texto-2);
  margin-left: 2rem;
}

.listaCarrinho {
  max-height: 20rem;
  overflow: auto;
  padding: 1rem;
}

.finalizar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--borda);
}

.total {
  color: var(--texto-2);
  text-align: left;
  margin-right: 2rem;
}

.total span {
  font-weight: bold;
  color: var(--texto-1)
}

.semItens {
  margin: 1.5rem 0;
  text-align: center;
  padding: 1rem
}

@media (max-width: 450px) {
  .carrinho {
    width: calc(100vw - 30px);
    min-width: initial;
  }
}