.inputField {
  margin-top: 1.5rem;
  position: relative;
}

.inputField label {
  padding: 0 .4rem;
  background: var(--bg);
  position: absolute;
  left: .6rem;
  top: -.6rem;
  text-transform: capitalize;
}

.inputField input {
  padding: .7rem;
  border-radius: .2rem;
  background: var(--bg);
  border: 1px solid var(--texto-2);
  color: var(--texto-1);
  max-width: 25rem;
  width: 100%;
}