.modal {
  display: flex;
  border-radius: .2rem;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.modal .img {
  flex: 1
}

.infos {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.descricao {
  margin: 1rem 0 2rem 0
}

.preco {
  font-size: 1.3rem;
  font-weight: bold;
}

.preco>span {
  margin-right: .3rem;
  font-size: 1rem;
}

.qtdPreco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.totalContainer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.totalContainer button {
  margin-left: 1rem;
}

.total {
  font-weight: bold;
}

.qtd {
  display: flex;
}

.qtd button {
  width: 30px;
  height: 30px;
  background: var(--texto-1);
  color: var(--bg);
  display: grid;
  place-items: center;
  border-radius: .2rem;
  border: 2px solid transparent;
  transition: .2s;
  font-weight: bold;
}

.qtd button:hover {
  background: var(--sec);
  border-color: var(--texto-1);
  color: var(--texto-1)
}

.qtd button+button {
  margin-left: .3rem;
}


@media (max-width: 690px) {
  .modal {
    flex-direction: column;
  }

  .img img {
    height: 200px;
  }

  .infos {
    padding: 1.2rem;
  }
}